{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <br><br>
    5 authors and 5 books will be added. Every new book will have 1 author. Then you can add authors manually
    <br><br>
    <a href="{{ path("app_dummyadd") }}">Add new</a> dummy data
{% endblock %}
