{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <br><br>
    Add new dummy data
    <a href="{{ path("app_dummyadd") }}">Continue...</a>
{% endblock %}
