{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <h1>Home page</h1>
    <br><br>       SQL : Get books list, created by 2 and more co-authors<h2>
    <textarea style="width: 530px;height: 120px;">
        SELECT book.title, count(book_author.book_id) as cnt 
            FROM book_author
            LEFT JOIN book ON book.id = book_author.book_id
            GROUP BY book_id
            HAVING count(book_author.book_id)>1
            ORDER BY cnt
    </textarea>        
            
{% endblock %}