{% extends 'base.html.twig' %}
{% set pTitle = "Book" %}
{% block title %}{{ pTitle }}{% endblock %}
{% block stylesheets %}
    <style>* {width:400px}</style>
{% endblock %}
{% block body %}
    <h2>{{ pTitle }}</h2>
    {{ form(book_form) }} 

{% endblock %}
